extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/thirdparty/password-strength-meter/password.min.css')
  script(src='/javascripts/auth.js',defer)
  h1 Profile
  p configuration page where you can set personal actions

  h3 Studies privacy
  p not available
  h3 Authorizations
  p not available
  h3 Active sessions
  p not available
  h3 Applications with access to you account
  p not available
  button.btn.btn-secondary change name
  button.btn.btn-secondary change orcid
  button.btn.btn-secondary change password

    
