extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/thirdparty/password-strength-meter/password.min.css')
  script(src='/javascripts/auth.js',defer)
  if error  
    .alert.alert-danger(role='alert')=error.message
  form(action="/auth/login",method="post")
    .form-group
      label(for='login-email') Email address
      input#login-email.form-control(name="email",type='email', aria-describedby='emailHelp',value=email,disabled)
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      label(for='oldPassword') Old Password
      input#inputOldPassword.form-control(type='password',name="oldpassword")
    .form-group
      label(for='inputPassword') New Password
      input#inputPassword.form-control(type='password',name="newpassword")
    .form-group
      label(for='inputPasswordRepeat') Retype New Password
      input#inputPasswordRepeat.form-control(type='password')
    input.btn.btn-primary(role="button",type='submit',value="Reset password")


    