.btn-group.advancedButtons1.block(type="group")              
  .btn.btn-sm.btn-primary.advancedButton1.propAll(type="button",title="Propagate to all cells in column")
    span.glyphicon.glyphicon-resize-vertical
  .btn.btn-sm.btn-primary.advancedButton1.propBellow(type="button",title="Propagate to all cells bellow")    
    span.glyphicon.glyphicon-arrow-down
  .btn.btn-sm.btn-primary.advancedButton1.propAbove(type="button",title="Propagat to all cell above")    
    span.glyphicon.glyphicon-arrow-up
  .btn.btn-sm.btn-primary.advancedButton1.clear(type="button",title="Clear cell")    
    span.glyphicon.glyphicon-remove-circle     