script(src="/javascripts/auth/login.js")
script(id="actions",src="/javascripts/actions.js")
script(src="/javascripts/buildingblocks.js")
//Google analystics config
script(src="/javascripts/goAnalytics.js")
//Configs for cookieconsent
script(src="/javascripts/gdpr.js")
script(src="/javascripts/varListener.js")
script(src="/javascripts/loader.js")