nav(aria-label='breadcrumb')
  ol.breadcrumb
    li.breadcrumb-item
      a(href='http://services.biodata.pt/terms.html', target="_blank") Terms of Use
    li.breadcrumb-item
      a(href='/privacypolicy', target="_blank") Privacy Policy
h3 Funded by:
a(href="http://www.incd.pt/",target="_blank")
  .incd
.eu
a(href="https://www.biodata.pt/",target="_blank")
  .biodata
.portugal2020
.lisboa2020
a(href="https://biodata.pt/about_elixirpt",target="_blank")
  .elixir_pt