img.collapsePanel(src="/images/close.png")
img.expandPanel(src="/images/open.png")
.content  
  h2 Genomics
  form.form-signin
    label.sr-only(for="search") Search
    input.form-control(type="text",id="search",placeholder="Search . . .",required="",autofocus="",style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;",autocomplete="on")
  p Database
  p 
  p 
  p 
  h2 Tools
  p 
  p Blast
  a(style="color:white;",href="/miRPursuit") Run miRPursuit
  p Go Term Annotation
  p 
  p 
  p Downloads
  p 
  p 
  a(style="color:white;",href="https://github.com/forestbiotech-lab/sRNA-Portal-workflow/blob/master/sRNAportal.pdf") Learn about sRNA Plant Portal
  p 