img.collapsePanel(src="/images/close.png")
img.expandPanel(src="/images/open.png")
.content  
  h2.d-none Genomics
  form.d-none.form-signin
    label.sr-only(for="search") Search
    input.form-control(type="text",id="search",placeholder="Search . . .",required="",autofocus="",style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC'); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;",autocomplete="on")
  .database
    h3
      a(href="/db") Database
    .panel
      .filters
  p 
  p 
  p 
  h2.d-none Tools
  p 
  p.d-none Blast
  p.d-none a(style="color:white;",href="/miRPursuit") Run miRPursuit
  p.d-none Go Term Annotation
  p 
  p 
  p.d-none Downloads
  p 
  p 
  a(style="color:white;",href="https://github.com/forestbiotech-lab/sRNA-Portal-workflow/blob/master/sRNAportal.pdf") Learn about sRNA Plant Portal
  p
  if listMiRPursuitLogFiles
    h3 MiRPursuit log files
    each log in listMiRPursuitLogFiles
      a(href=log.url)=log.file  
      br
  .modal#login-modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Login
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form(action="/login",method="post")
            .form-group
              label(for='login-email') Email address
              input#login-email.form-control(name="email",type='email', aria-describedby='emailHelp',autocomplete="username")
              small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
            .form-group
              label(for='login-password') Password (Not implemented!)
              input#login-password.form-control(name="password",type='password',autocomplete="current-password")
            .form-group.form-check
              input#exampleCheck1.form-check-input(type='checkbox')
              label.form-check-label(for='exampleCheck1') Check me out (I thought you might like to play with me. I feel loonly)
            input.btn.btn-primary(role="button",type='submit',value="Login")
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          