script(src='/webpack/webpack.js')
script(src="/javascripts/thirdparty/bootstrap3-typeahead.min.js")
//Possible removal subs for canvas-datagrid
script(src="/javascripts/thirdparty/jquery.tablesorter.js")
script(src="/javascripts/thirdparty/widget-resizable.js")
//Requires d3 custom build
script(src="/javascripts/graph.js")
script(src="/javascripts/md5.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js",integrity='sha384-BKcn2VyUQE+U5r2TwZjM97PrlY7NaA3vIzZMPFw4q9PSQi45aUU5odQEygR9p3t5', crossorigin='anonymous')
// To be removed only required by a component in assay design to be done with vue-select
script(type="text/javascript",src="/javascripts/thirdparty/bootstrap-multiselect/bootstrap-multiselect.js")
script(src="/javascripts/goAnalytics.js")