extends layout

block content
  script(id="database",src="/javascripts/database.js",async,defer)
  .card-block
    .container-fluid
      .row  
        .col-md-12
          .form-inline.searchDBform   
            label(for="searchBox") 
              h4 Query mature miRNAs:
            select.custom-select(id="searchOptions",style="margin-left:10px")
              option(call="sequence") Sequence
              option(call="name") miRNA name
              option(call="accession") Accession
            input.form-control(id="searchText",placeholder="[ATGCU]",type="text",style="margin-left:10px")
            button.form-control.btn.btn-primary.DBsearch(role="button") search
            button.form-control.btn.btn-secondary.DBadvSearch(type="button",data-toggle="collapse",data-target="#advancedOptions-search",aria-expanded="false",aria-controls="advancedOptions-search") advanced &nbsp;
              span.glyphicon.glyphicon-chevron-down
      .row
        .col-md-12
          .collapse(id="advancedOptions-search")
            .card.card-body
              .form-check(style="margin-left:10px")  
                label.form-check-label(title="Returns an exact match")
                  input.form-check-input(id="exact",type="radio",name="searchType",checked="true") 
                  | exact&nbsp;
                label.d-none.form-check-label(title="Returns a approximate match, allowing any prefix or suffix to the given string")
                  input.form-check-input(id="approximate",type="radio",name="searchType") 
                  | approximate
      .row
        .col-md-12
          //Annotation Table            
          table.table.table-bordered.miRNAs.tablesorter.resizableTable-on-search.DBvalues(hasResizable)
            thead
              tr.tableHeader
                th(title="Mature miRNA accession") Accession
                th(title="Hint") Name
                th(title="Hint") Arm
                th(title="Hint") Sequence
              tbody(id="accordionRows")
                tr.sampleSource.d-none(loaded="false")                 
                  td(dbAttr="accession",title="mature miRNA accession",scope="row")
                    button.btn.btn-outline-dark.btn-sm.expand-row(type="button",title="expand",data-toggle="collapse",data-target="#")
                        span.glyphicon.glyphicon-chevron-down
                  td(dbAttr="name",title="mature miRNA name")
                  td(dbAttr="arm",title="mature miRNA arm")
                  td(dbAttr="sequence",title="mature miRNA sequence")
                each row in tableValues 
                  tr.tableRow.DBvalues
                    td(title="mature miRNA accession",scope="row")=row.Mature_miRNA_accession
                      button.btn.btn-outline-dark.btn-sm.expand-row(type="button",title="expand",data-toggle="collapse",data-target="#")
                        span.glyphicon.glyphicon-chevron-down
                    td(title="mature miRNA name")=row.Mature_miRNA_name
                    td(title="mature miRNA arm")=row.Mature_miRNA_arm
                    td(title="mature miRNA sequence")=row.Mature_miRNA_sequence  
  
