extends layout

block content
  script(id="database",src="/javascripts/de.js",defer)
    - name=`${personInfo.firstName} ${personInfo.lastName}`//"Dr. Unpleasant Guest"
  .card-block
    .container-fluid
      .row
        .col-lg-12
          .card
            .card-body
              h4.card-title.personal-stats Welcome to your personal area 
                span.badge.badge-secondary !{name}
            .card-body 
              p You are currently responsible for 
                span.badge.badge-secondary(title="click to show studies") !{numOfStudies} studies 
                | , please select a study to edit or complete.   
              #accordionStudies.accordion
                .card
                  #studies.card-header
                    h2.mb-0.text-center
                      button.btn.btn-link.generate-table-list(type='button',table="Study", data-toggle='collapse', data-target='#studiesList', aria-expanded='true', aria-controls='studiesList')
                        | View study list
                  #studiesList.collapse(aria-labelledby='studiesList', data-parent='#accordionStudies')
                    .card-body.list-Study
                    .card-body
      .row.file-submission.d-none
        .col-lg-12
          .card.upload 
            .card-body
              h5.card-title Matrix with raw reads counts
              .row
                .form-group
                  label.sr-only(for="upload-files-upload") Upload file
                  input(hidden,type="file",id="upload-files-upload",placeholder="tsv file",required="",autofocus="",autocomplete="off",name="uploads[]", accept="mime/*,.tsv")
                .col-lg-10
                  .progress(style="position:relative;bottom:-12px;")
                    .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
                .col-lg-2
                  button.btn.btn-primary.upload-matrix(type="button") Upload matrix  
            .card-footer
              .row
                .form-group.col-lg-12
                  label(for="file") Uploaded file: 
                  input.col-lg-10.col-md-8.col-sm-4(type="text",id="file",placeholder="no file",required="",name="file",readonly)
      .row
        .col-lg-12
          form.view-matrix(action="/de/uploaded-file",method="POST")
            input(type="hidden",name="hash",id="hash")
            input(type="hidden",name="filename",id="filename")
            input(type="hidden",name="studyId",id="studyId")
            input(type="hidden",name="studyTitle",id="studyTitle")
            input.btn.btn-primary.disabled.d-none(type="",role="button",value="View matrix",title="Set the study first to view matrix")
      .row  
        .col-lg-12
          .card
            .card-body
              h4.study.card-title Metadata Selection
                span.badge.badge-secondary#studyTitle
              p Either create a new study ou select and existing one, in order to upload data
              button.btn.btn-primary.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create Study
              #table-study.collapse
                .card.card-body
                  .form-Study
              button.btn.btn-primary.generate-table-form(table="Person",type='button', data-toggle='collapse', data-target='#table-Person', aria-expanded='false', aria-controls='table-Person')
                | Create Person              
              #table-Person.collapse
                .card.card-body
                  .form-Person
              button.btn.btn-primary.generate-table-form.generate-select-form(table="Study",type='button',displayAttr='title' data-toggle='collapse', data-target='#select-Study', aria-expanded='false', aria-controls='select-Study')
                | Get studies              
              #select-Study.collapse
                .card.card-body
                  .select-Study
                  .form-Study      