extends layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          .card
            .card-body
              h4.card-title Study
              button.btn.btn-primary.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create Study
              #table-study.collapse
                .card.card-body
                  .form-study
                .card.card-body
                  .form-person

      .row
        .col-lg-12
          .card.upload 
            .card-body
              h5.card-title Matrix with raw reads counts
              .row
                .form-group
                  label.sr-only(for="upload-files-upload") Upload file
                  input(hidden,type="file",id="upload-files-upload",placeholder="tsv file",required="",autofocus="",autocomplete="off",name="uploads[]", accept="mime/*,.tsv")
                .col-lg-10
                  .progress(style="position:relative;bottom:-12px;")
                    .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
                .col-lg-2
                  button.btn.btn-primary.upload-matrix(type="button") Upload matrix  
            .card-footer
              .row
                .form-group.col-lg-12
                  label(for="file") Uploaded file: 
                  input.col-lg-10.col-md-8.col-sm-4(type="text",id="file",placeholder="no file",required="",name="file",readonly)
      .row
        .col-lg-12
          form.view-matrix(action="/de/uploaded-file",method="POST")
            input(type="hidden",name="hash",id="hash")
            input(type="hidden",name="filename",id="filename")
            input.btn.btn-primary(type="submit",role="button",value="View matrix")