extends layout

block content
  - error= error? error : Object.keys(this)[0]
  if error
    if error.message
      h1= error.message || "Unspecified error"
  else
    h1= message || "Unspecified error"
  - status= error ? error.status : null
  h2=status 
  pre #{error.stack}
