doctype html
html
  head
    title="sRNA Plant Portal"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css",integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ",crossorigin="anonymous")
  body
    .header
      a(target="blank_",href="/")
        img(style="margin-left:30px;height:100px",src="/images/logo.png")    
      a(target="blank_",href="http://biodata.pt")
        img.biodata-logo-header(src="/images/biodata_toplogo_79h.png")
      a(target="blank_",href="https://biodata.pt/about_elixirpt")
        img.tiny-logo-header(src="/images/elixir_footer-logo.png")
    .menu(style="height:1px")



    .container-fluid(style="margin:0px;padding:0px;")
      .row.content-md-left(style="margin:0px")
        .mainPanel(style="width:100%")
          .content      
            block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async,src="https://www.googletagmanager.com/gtag/js?id=UA-116969748-1")
    script(src="/javascripts/goAnalytics.js")
    script(src="/javascripts/database.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js",integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn",crossorigin="anonymous")
    script(src="/javascripts/bootstrap3-typeahead.min.js")
