doctype html
html
  head
    title="sRNA Plant Portal"
    meta(name='google-signin-client_id', content='379853658866-r31skptbhf4jc8uqtrokkjveqbtu53g4.apps.googleusercontent.com')
    link(rel="apple-touch-icon",sizes="180x180",href="/images/favicon/apple-touch-icon.png")
    link(rel="icon",type="image/png" sizes="32x32",href="/images/favicon/favicon-32x32.png")
    link(rel="icon",type="image/png" sizes="16x16",href="/images/favicon/favicon-16x16.png")
    link(rel="manifest",href="/images/favicon/site.webmanifest")    
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/glyphicon.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/miRPursuitPanel.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-multiselect.css",type="text/html")
    link(rel='stylesheet', href='/stylesheets/sidePanel.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/thirdparty/vue-select/3.20.0/vue-select.css")
  body
    .header
      a(href="/")
        img(style="margin-left:30px;height:100%",src="/images/logo4.png")    
      a(target="blank_",href="http://elixir-europe.org")
        img.tiny-logo-header(src="/images/elixir-logo-transparent-ultrasmall.png")
    .menu
      .miRPursuit-bar.btn-group.d-none
        span.activity State:
        .progress(style="margin-left:5px; width:100px;height:16px;margin-top:4px;")
          .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
      button.menu-item.menu-item1.login-btn.btn.btn-dark.d-none(data-toggle="modal" data-target="#login-modal") 
        span.glyphicon.glyphicon-log-in
        | &nbsp;login
      button.menu-item.menu-item-right.menu-item1.logout-btn.btn.btn-secondary(onclick="signOut();") 
        span.glyphicon.glyphicon-log-out
        | &nbsp;logout
      a.menu-item.menu-item-right.profile-btn.btn.btn-success(href="/auth/profile")
        span.glyphicon.glyphicon-user
        | &nbsp;Profile
    .container-fluid(style="margin:0px;padding:0px;")
      .row.content-md-left(style="margin:0px")
        .sidePanel(style="width:20%;")
          include includes/sidePanel.pug  
        .mainPanel(style="width:79%")
          .content      
            block content
    .footer
      include includes/footer.pug

    include includes/thirdpartyScripts.pug
    script(src="/javascripts/auth/login.js")
    script(id="actions",src="/javascripts/actions.js")
    script(src="/javascripts/buildingblocks.js")
    script(src="/javascripts/goAnalytics.js")
    script(src="/javascripts/bootstrap3-typeahead.min.js")
    script(src="/javascripts/jquery.tablesorter.js")
    script(src="/javascripts/widget-resizable.js")
    script(src="/javascripts/graph.js")
    script(src="/javascripts/gdpr.js")
    script(src="/javascripts/md5.js")
    script(src="/javascripts/varListener.js")
    script(src="/javascripts/loader.js")
