extends layout

block content

  a(href="https://github.com/forestbiotech-lab/miRPursuit")
     img(style="position:absolute;top:10px;left:25px;border:0;",src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67",alt="Fork me on GitHub",data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png")   

  h1.title miRPursuit
  br
  br 
  p #{text.summary}
  p Your data will remain confidential until you authorize it  
  p
  h2 Upload data
  .row  
    .col-md-10
      label.sr-only(for="upload-files") Upload file
      input(hidden,type="file",id="upload-files",placeholder="Fastq/Fasta",required="",autofocus="",autocomplete="off",name="uploads[]", multiple="multiple")
      .progress(style="position:relative;bottom:-12px;")
        .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
    .col-md-2
      .button.btn.btn-primary.upload-btn(type="button") Upload files
  p 
  p
  form.form-inline  
    label.mr-sm-2(for='inlineFormCustomAutocomplete') Ontologies:
      input.typeahead(type="text",data-provide="typeahead",autocomplete="off")
  h2 #{text.annotationTableHeader}
  p #{text.annotationTableIntro}      
  table.table.table-bordered.tablesorter.annotationTable(hasResizable)
    thead
      tr
        th File Name
        th 
          input.ontoSelect(type="input",id="ontology1",placeholder="Ontology",required="",autofocus="",autocomplete="off",name="ontology1")
        th
          input.ontoSelect(type="input",id="ontology2",placeholder="Ontology",required="",autofocus="",autocomplete="off",name="ontology2")
      tbody
        tr.sample(hidden)
          th(scope="row")  
          td 
          td 
        tr
          th(scope="row") Lib01.fasta 
          td test2
          td test3 

