extends layout

block content
  p
  .title_one Terms of Service
  p
  p
  .title_two Provision of Service
  p
  ol
    li
      | BioData.pt service requests will be assigned to a BioData.pt team-member according to availability and expertise, on a first come, first served basis.
      ol(type='a')
        li
          | The BioData.pt team will try to accommodate urgent requests, insofar as it does not compromise the time frame of ongoing requests.
        li
          | Projects requiring a small workload may be allowed to interrupt more time consuming projects at the discretion of the BioData.pt team.
    li
      | The BioData.pt team commits to reply to all initial service requests within a period of 72 hours after the request was received, save exceptional circumstances.
    li
      | The BioData.pt team reserves the right to decline service requests at its discretion, including due to time constraints, the feasibility of the project, and/or ethical concerns.
    li
      | The first contact of the BioData.pt team with the user will aim at establishing goals and deliverables, and agreeing on a budget and time frame for the service.
      ol(type='a')
        li
          | Depending on the nature and complexity of the service, this contact may take the form of a free consulting meeting (either virtual or face-to-face) in order to discuss the project in depth.
    li
      | Once a service request is accepted by the BioData.pt team, the team will endeavour to fulfill it to the best of its ability, within the allotted budget and agreed time frame.
      ol(type='a')
        li
          | Should unforeseen issues complicate the execution of the service beyond what was encompassed in the initial budget, for motives external to BioData.pt (e.g., the data provided by the user for analysis requires extensive curation or cleaning), the BioData.pt team is entitled to request an extension of the budget, subject to the approval of the user. If the user does not approve the request, the BioData.pt team is entitled to revise the deliverables to match the workload contemplated in the budget.
        li
          | The BioData.pt User Support team cannot terminate a user request prior to its completion without express agreement from the user, save under circumstances of violation of terms of service or due to ethical concerns.
    li
      | A user can request alteration or extension of the services contracted with BioData.pt at any time, subject to approval from the BioData.pt team.
    li
      | A user can request termination of the services contracted with BioData.pt at any time, but will be required to pay for the BioData.pt team's workload up to the time of termination.
    li
      | Follow-up services requested after a service has been concluded will be treated as new requests for all intents and purposes, except that contextualization of the request will not be required.
  p  
  hr
  p  
  p
  .title_two Service Payment
  p
  ol
    li
      | Service payment will be handled through the LabOrders system of the Instituto Gulbenkian de Ciência, which coordinates BioData.pt.
    li
      | Depending on the service and the terms agreed with the user, payment may be either required upfront, or after the service is completed or terminated.
    li
      | Users will be charged the value that was last agreed for the service, which can be the initial budget, or a budget extension or reduction agreed upon mid-service.
    li
      | In case of early termination of the service, the user will be required to pay for a fraction of the budget agreed upon corresponding to the workload of the BioData.pt team with the service up to the time of termination.
  p  
  hr
  p  
  p
  .title_two User & Data Privacy
  p
  ol
    li
      | BioData.pt will not store names or personal data of its users and will not divulge such information it accesses through the Agendo platform.
      ol(type='a')
        li
          | User personal data privacy rights, including the right to be forgotten, can be claimed via the Agendo platform.
    li
      | BioData.pt will not contact users directly outside of the exercise of the contracted service.
    li
      | BioData.pt will not publish nor share with third parties any details about the service, including data, results and goals, except those that are already publicly available.
      ol(type='a')
        li
          | Should the user deem it necessary, BioData.pt can sign a non-disclosure agreement to formalize this commitment.
        li
          | Users can request that BioData.pt delete their raw data and results from its systems at any time.
    li
      | Without prejudice to the previous terms, BioData.pt reserves the right to publish the name of the institution/company of a user who contracts its services, as well as the type of service contracted and the workload it represented to BioData.pt, for the purpose of advertising or reporting its services.
      ol(type='a')
        li
          | The BioData.pt team can waive this right at its discretion, upon fundamented request from the user.
    li
      | The BioData.pt User Support team will not store personal information of users, and will not divulge such information it accesses via the Agendo platform.
  p  
  hr
  p  
  p
  .title_two Data Storage
  p
  ol
    li
      | In the exercise of Bioinformatics Analysis services, BioData.pt will only store raw datasets temporarily, while they are needed to perform the contracted services, and will delete them upon completion. Users can thereby required to ensure their own storage of their raw datasets.
    li
      | In Project Data Management services, BioData.pt will store datasets as stipulated in the contracted services, which may or may not include data backups or data deposition in public repositories.
    li
      | BioData.pt's Data Management portal and Virtual Machines include an internal redundancy.
      ol(type='a')
        li
          | This redundancy should not be viewed as a stable backup solution, and users are advised to backup critical data.
        li
          | BioData.pt is not liable for any loss of data that arises due to critical hardware failure or other catastrophic events.
    li
      | Upon termination of the contracted Virtual Machine service, users will be given 5 working days to retrieve any data contained in their machine, after which the machine will be terminated and deleted.
      ol(type='a')
        li
          | BioData.pt is not liable for any loss of data resulting from the deletion of virtual machines after termination of the contracted service.
  p  
  hr
  p  
  p
  .title_two Acknowledgment and Intellectual Property
  p
  ol
    li
      | Users of BioData.pt services are required to acknowledge these services whenever they lead to a scientific publication.
    li
      | The methods and materials employed in all BioData.pt services are the intellectual property of BioData.pt, as are the deliverables of Bioinformatics Tools services. This includes, but is not limited to: training materials, virtual machine configurations, and software tools and pipelines.
      ol(type='a')
        li
          | BioData.pt reserves the right to reuse any such methods and materials at its sole discretion, including in future services.
        li
          | BioData.pt reserves the right to publish any such methods and materials at its sole discretion, including in scientific publications.
        li
          | Should BioData.pt decide to publish its methods and materials in a scientific publication, it reserves the right to withhold critical details about the methods or material being published until the publication is accepted.
        li
          | In the case of software tools or pipelines developed under a Bioinformatics Tools service commission, the user can require that the ownership of the tool or pipeline be ceded to them, but this request should be made upfront, and will have a bearing on the budget of the service.
    li
      | In Bioinformatics Analysis services where there was substantial intellectual contribution from the BioData.pt team, the team may request co-authorship in any scientific publication that follows directly from the analysis.
      ol(type='a')
        li
          | This should be discussed and agreed upon during the initial consulting meeting, or, in the case of projects that were extended beyond their original scope, at the earliest time it becomes clear that the intellectual contributions of the team merit co-authorship.
  p  
  hr
  p  
  p
  .title_two Ethical Considerations
  p
  ol
    li
      | The BioData.pt team operates under the assumption that any and all data it receives for analysis or management was collected according to established ethics guidelines of the European Commission.
      ol(type='a')
        li
          | Should it receive any information to the contrary, or realize from the data that this was not the case, the team will immediately suspend the service, contact the user, and if deemed necessary, report the information to the appropriate entities to investigate the case.
    li
      | All human data submitted for analysis or management to the BioData.pt team must be fully anonymized.
    li
      | The BioData.pt team will conduct data analysis and management according to the state of the art, following established best practices, and to the best of its ability. It will inform the user of any reservations it has about the state of the art. In data analysis requests, it will also inform the user of the uncertainty associated with the results of the analysis and any reservations the team has about them.
