@font-face {
  font-family: saucer;
  src: url('/fonts/SaucerBB.ttf');
}
@font-face {
  font-family: scriptin;
  src: url('/fonts/SCRIPTIN.ttf');
}
@font-face {
  font-family: scripalt;
  src: url('/fonts/SCRIPALT.ttf');
}
@font-face {
  font-family: zerohour;
  src: url('/fonts/zero hour.ttf');
}
@font-face {
  font-family: spraypaint;
  src: url('/fonts/spraypaint.ttf');
}