.footer{
  background: #505659;
  color: white;
  padding: 20px;
  height: 500px;
  border-top: 5px solid grey;
}

.footer .incd{
  background-image: url(/images/footer/INCD.png);
  background-size: contain;
  width: 200px;
  height: 100px;
  float: left;
  background-repeat: no-repeat;
}
.footer .eu{
  float:left;
  background-image: url(/images/footer/EU.png);
  width: 350px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer .portugal2020{
  float: left;
  background-image: url(/images/footer/portugal_2020.png);
  height: 100px;
  width: 268px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer .elixir_pt{
  float: left;
  background-image: url(/images/footer/elixir_pt.png);
  height: 100px;
  width: 175px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer .biodata{
  float: left;
  background-image: url(/images/footer/biodata_pt.png);
  height: 100px;
  width: 415px;
  background-position-x: 10px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-y: 10px;
}

.footer .lisboa2020{
  float: left;
  background-image: url(/images/footer/lisboa_2020.png);
  height: 100px;
  width: 307px;
  background-size: 125%;
  background-repeat: no-repeat;
  background-position-x: -45px;
  background-position-y: -40px;
}
