.sidePanel{
    position:relative;
    color: #393838;
    border-right: 20px solid rgba(128, 128, 128, 0.4);
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.68);
    min-height:1000px;
    background-color: #6c757d; /*cinza*/
    /*background-color: #b6cc81; */
    /* font-family: scriptin; */
}
.sidePanel .content{
  padding-left:15px; 
}

.sidePanel .database .filters .checkbox-group{
    padding-left: 20px;
    font-size: small;
}
.sidePanel .database .filters .checkbox-group .title{
    text-decoration: underline;
}
.sidePanel .database .filters .form-group.form-check{
    background-color: #b5b2b2;
    border-radius: 10px;
}
.sidePanel a{
  font-family: spraypaint;
  color:#FFFFFF;
}
