@font-face {
  font-family: saucer;
  src: url('/fonts/SaucerBB.ttf');
}
@font-face {
  font-family: scriptin;
  src: url('/fonts/SCRIPTIN.ttf');
}
@font-face {
  font-family: scripalt;
  src: url('/fonts/SCRIPALT.ttf');
}
@font-face {
  font-family: zerohour;
  src: url('/fonts/zero hour.ttf');
}
@font-face {
  font-family: test;
  src: url('/fonts/spraypaint.ttf');
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
}

.header{
    position:relative;
    background-color: #99B92A;/* verde*/
    /*background-color: #646263;*/
    height:120px;
}
.header .tiny-logo-header{
	position: absolute;
    right: 30px;
    bottom: 15px;
}
.header .biodata-logo-header{
  position: absolute;
    right: 150px;
    bottom: 15px;
}
a{
  color:#FFFFFF;
  /*color: #705353;*/
  /*font-family: saucer;*/
  font-family: test;
}
.header p{
  position: absolute;
  bottom: 0px;
  font-size: xxx-large;
  padding-left: 20px;
}
.header img{
  /*display: none;*/
  padding: 10px
}

body .menu{
	position: relative;
	height: 50px;
	background-color: #f7f7f7;
	/*border-bottom: 1px solid #e5e5e5;*/
	border-top: 2px solid #aea4a4;
	border-bottom: 2px solid #aea4a4;
	padding: 5px;
	/* float: right; */
}
body .menu a.menuItem1{
	padding: 5px;
	font-weight: bold;
	color: #FFFFFF;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
  background-color: #99B92A;
}
body .menu a.menuItem1.hover{
    padding: 6px;
    font-weight: bold;
    color: white;
    background-color: #FE9050;
}
body .menu button.menuItem1{
  padding: 5px;
  font-weight: bold;
  /* color: #8c8787; */
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
body .menu button.menuItem1.hover{
    padding: 6px;
    font-weight: bold;
    color: white;
    background-color: #FE9050;
}
.menu .miRPursuit-bar{
  color:white;
  position:absolute;
  right:0px;
  top:0px;
  padding:5px;
  background-color: #3d348b;
  border: 1px solid white;
}

img.collapsePanel{
    width: 15px;
    position: absolute;
    right: -18px;
    margin-top: 200px;
    margin-bottom: 400px;
}
img.expandPanel{
    width: 15px;
    position: absolute;
    right: -18px;
    margin-top: 200px;
    margin-bottom: 400px;
    display:none;
}
.mainPanel{
  position:relative;
}
.mainPanel .content {
	margin: 10px;
    padding: 30px;
    border: 1px solid rgba(204, 203, 203, 0.8);
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 4px 5px black;
}
.mainPanel .content .title {
    margin-left: 70px;
}



table thead input{
    width:100%;
}
table.annotationTable .btn.searchTerm{
  width:100%;
}
table.annotationTable .btn.advancedButton1{
  display:none;
}
table.annotationTable .btn.advancedButton2{
  display:none;
}
table.annotationTable .btn.advancedButton3{
  display:none;
}
table.annotationTable tr.miappe{
  background-color: darkgrey;
}
table .expand-row{
  margin-right: 10px;
}
.modal#login-modal{
  color:black;
}



/* Bootstrap overide */
.btn.btn-success{
  background-color: #99B92A;
}
.badge.badge-success{
 background-color: #99B92A; 
}
