tr.DBvalues.tableRow.collapse.show
  td.collapse.show(colspan=4,scope="row",id="sequence",data-parent="#accordionRows")
      .row
        .col-md-12      
          .card
            .card-head 
              h5.title.font-weight-bold Precursor miRNA information - 
                span.db-data(dbAttr="mature_accession")
            .card-body
              
              .row      
                .d-none.pre-sequence.db-data(dbAttr="pre_sequence")
                .col-md-4
                  svg(width="100%",height="300px")        
                .col-md-4  
                  p.font-weight-bold Description:
                    span.font-weight-normal.db-data(dbAttr="mature_description")
                  p.font-weight-bold Name:
                    span.font-weight-normal.db-data(dbAttr="name",table="Mature_Feature")
                  p.font-weight-bold Source:
                    span.font-weight-normal.db-data(dbAttr="source",table="Mature_Feature")
                  p.font-weight-bold Type:
                    span.font-weight-normal.db-data(dbAttr="type",table="Feature")
                .col-md-4
                  .row
                    .sequence-viewer(id="sequence-viewer")
                    .col-md-6
                      p.font-weight-bold Start:
                        span.font-weight-normal.db-data(dbAttr="start",table="Mature_Feature")
                    .col-md-6
                      p.font-weight-bold End:
                        span.font-weight-normal.db-data(dbAttr="end",table="Feature")
                  .row
                    .col-md-4
                      p.font-weight-bold Score:
                        span.font-weight-normal.db-data(dbAttr="score",table="Feature")
                    .col-md-4
                      p.font-weight-bold Strand:
                        span.font-weight-normal.db-data(dbAttr="strand",table="Feature")
                    .col-md-4
                      p.font-weight-bold Phase:
                        span.font-weight-normal.db-data(dbAttr="phase",table="Feature")

