tr.DBvalues.tableRow.collapse.show
  td.collapse.show(colspan=4,scope="row",id="sequence",data-parent="#accordionRows")
      .row
        .col-md-12      
          .card
            .card-head 
              h5.title.font-weight-bold Precursor miRNA information - 
                span.db-data(dbAttr="accession",table="Precursor")
            .card-body
              
              .row      
                .d-none.pre-sequence.db-data(dbAttr="pre_sequence")
                .col-md-4
                  .row
                    .col-md-12
                      .sequence-viewer(id="sequence-viewer")
                  .row
                    .col-md-12              
                      .card
                        .hairpin(style="height:200px;background-image:url('/images/hairpin.jpg');background-size:cover",onclick="$('#zoom-hairpin').modal('show')")
                      .card-body
                        h5.card-title Precursor Hairpin &nbsp;
                          button.btn.btn-primary(type="button",data-toggle="modal",data-target="#zoom-hairpin")
                            span.glyphicon.glyphicon-zoom-in  
                        p.card-text hairpin structure with the mature miRNA identified in red
                .col-md-8
                  .row
                    .col-md-6  
                      p.font-weight-bold Name:
                        span.font-weight-normal.db-data(dbAttr="name",table="Precursor")
                      p.font-weight-bold Accession:
                        span.font-weight-normal.db-data(dbAttr="accession",table="Precursor")
                      p.font-weight-bold Description:
                        span.font-weight-normal.db-data(dbAttr="description",table="Precursor")
                      p.font-weight-bold Source:
                        span.font-weight-normal.db-data(dbAttr="source",table="Precursor")
                      p.font-weight-bold Type:
                        span.font-weight-normal.db-data(dbAttr="type",table="Feature")
                    .col-md-6
                      svg(width="100%",height="300px")        
                  .row
                    .col-md-12
                      table.table.table-bordered
                        thead
                          tr.table-active
                            th(colspan=6) Feature list
                          tr  
                            th Name
                            th Start
                            th End
                            th Score
                            th Strand
                            th Phase
                        tbody
                          tr
                            td.db-data(dbAttr="name",table="Precursor_Feature")
                            td.db-data(dbAttr="start",table="Precursor_Feature")
                            td.db-data(dbAttr="end",table="Precursor_Feature")
                            td.db-data(dbAttr="score",table="Precursor_Feature")
                            td.db-data(dbAttr="strand",table="Precursor_Feature")
                            td.db-data(dbAttr="phase",table="Precursor_Feature")
      .modal.fade(id="zoom-hairpin",tabindex="-1",role="dialog",aria-labelledby="zoom-hairpin-title",aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
          .modal-content
            .modal-header
              h5.modal-title(id="zoom-hairpin-title") Precursor Structure
              button.close(type="button",data-dismiss="modal",aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
              .hairpin(style="height:400px;width:400px;background-image:url('/images/hairpin.jpg');background-size:cover")
            .modal-footer 
              p hairpin structure with the miRNA identified in red
