.form-group.form-check
	h5.title
	button.btn.btn-outline-light.btn-sm.select-all(type="button") Select all
	button.btn.btn-outline-light.btn-sm.select-none(type="button") Select none
	.checkbox-group.sample(hidden)
		input.form-check-input(type="checkbox",id="exampleCheck1",checked="true")
		label.form-check-label(for="exampleCheck1") 
