extends ../layout

block content
  h5=title
  .container-fluid
    .row
      .col-md-6
        h5 Study metadata
        p fastq meta data
        p adaptor sequence
        p 
          span.glyphicon.glyphicon-hdd
          | &nbsp;conserved miRNA database
        p 
          span.glyphicon.glyphicon-link
          | &nbsp;genome
        p 
          span.glyphicon.glyphicon-tree-conifer
          | &nbsp;transcriptome
      .col-md-6
        h5 List of assays 
          span.badge.badge-success 12
        table.table
          tbody
            tr
              td Lib01 
              td
                span.glyphicon.glyphicon-ok-sign
            tr
              td Lib02
            tr    
              td Lib03  
            tr
              td Lib04  
            tr
              td Lib05  
            tr
              td Lib06
            tr
              td Lib07  
            tr
              td Lib08  
            tr
              td Lib09  
            tr
              td Lib10  
            tr
              td Lib11  
            tr
              td Lib12  