extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          .card.gen-info(studyId=studyId,api="true",call="assaydata",version="v1")
            .card-header.study
              h4.card-title  Study gg id:&nbsp 
                span.badge.badge-secondary#studyId !{studyId}
          .card.upload-table
            .card-header
              .row
                h4.card-title(title="FILL THIS!") Assay data info
                  span.badge.badge-secondary#ofUploadSequences 0
                  | &nbsp;sequences
              .row
                .col-lg-12
                  p.card-title Showing 
                    span.badge.badge-secondary#ofLoadedRows 0
                    | &nbsp;sequences
            .card-body.upload-table  
              table.table.table-striped.upload-table
                thead
                tbody                
                  tr#lastRow(filename=uploadedFilename) 
                    td.blockquote.text-center(colspan=1) Loading missing sequences, please wait ...

