extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          .card.gen-info(studyId=studyId,api="true",call="assaydata",version="v1")
            .card-header.study
              h4.card-title  Study gg id:&nbsp 
                span.badge.badge-secondary#studyId !{studyId}
          .card.upload-table
            .card-header
              .row
                h4.card-title(title="FILL THIS!") Assay data info
                  span.badge.badge-secondary#ofUploadSequences 0
                  | &nbsp;sequences
              .row
                .col-lg-12
                  p.card-title Showing 
                    span.badge.badge-secondary#ofLoadedRows 0
                    | &nbsp;sequences
              .row
                .col-lg-3
                .col-lg-3
                .col-lg-3
                  form
                    .form-group
                      label(for='exampleInputEmail1') Email address
                      input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp')
                      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                    .form-group
                      label(for='exampleInputPassword1') Password
                      input#exampleInputPassword1.form-control(type='password')
                    .form-group.form-check
                      input#exampleCheck1.form-check-input(type='checkbox')
                      label.form-check-label(for='exampleCheck1') Check me out
                      button.btn.btn-primary(type='submit') Submit
                .col-lg-3
                  .custom-control.custom-switch
                    input#customSwitch1.custom-control-input(type='checkbox')
                    label.custom-control-label(for='customSwitch1') Raw / CPM
                  .custom-control.custom-switch
                    input#customSwitch2.custom-control-input(type='checkbox', disabled='')
                    label.custom-control-label(for='customSwitch2') Disabled switch element
            .card-body.upload-table  
              table.table.table-striped.upload-table
                thead
                  th(id="sequence") Sequence
                    th(id="assayName") assayName
                    th(id="raw") raw
                    th(id="cpm") cpm
                tbody                
                  tr#lastRow(filename=uploadedFilename) 
                    td.blockquote.text-center(colspan=1) Loading missing sequences, please wait ...

