extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          .card
            .card-body
              h4.study.card-title Study&nbsp
                span.badge.badge-secondary#studyTitle
              button.btn.btn-primary.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create Study
              #table-study.collapse
                .card.card-body
                  .form-Study
              button.btn.btn-primary.generate-table-form(table="Person",type='button', data-toggle='collapse', data-target='#table-Person', aria-expanded='false', aria-controls='table-Person')
                | Create Person              
              #table-Person.collapse
                .card.card-body
                  .form-Person
              button.btn.btn-primary.generate-table-form.generate-select-form(table="Study",type='button', data-toggle='collapse', data-target='#select-Study', aria-expanded='false', aria-controls='select-Study')
                | Get studies              
              #select-Study.collapse
                .card.card-body
                  .select-Study
                  .form-Study
    .row
      .col-lg-12    
        .card
          .card-header
            h4.assay.card-title Assay list
          .card-body
            table.table
              thead
                tr
                  each header in Object.keys(data[0])
                    th=header
              tbody
                each row in data
                  tr
                    each key in Object.keys(row)
                      td=row[key]
