extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          .card.gen-info(studyId=studyId,api="true",call="assaydata",version="v1")
            .card-header.study
              h4.card-title  Study gg id:&nbsp 
                span.badge.badge-secondary#studyId !{studyId}
          .card.upload-table
            .card-header
              .row
                h4.card-title(title="FILL THIS!") Assay data info
                  span.badge.badge-secondary#ofUploadSequences 0
                  | &nbsp;sequences
              .row
                .col-lg-12
                  p.card-title Showing 
                    span.badge.badge-secondary#ofLoadedRows 0
                    | &nbsp;sequences
              .row
                .col-lg-3
                  button.btn.btn-primary.launch-target-modal(type='button', data-toggle='modal', data-target='#exampleModalLong')
                    | Launch demo modal
                .col-lg-6
                  form.form-inline
                    label.my-1.mr-2(for='inlineFormCustomSelectPref') Filter
                    select#inlineFormCustomSelectPref.custom-select.my-1.mr-sm-2
                      option(selected='') Choose...
                      option(value='1') Sequence
                      option(value='2') Two
                      option(value='3') Three
                    input#table-search.form-control.typeahead(type='text')
                    button.btn.btn-primary.search(type="button") search
                .col-lg-3
                  .custom-control.custom-switch
                    input#sequence-values-type.custom-control-input(type='checkbox')
                    label.custom-control-label(for='sequence-values-type') RAW / CPM
                  .custom-control.custom-switch
                    input#customSwitch2.custom-control-input(type='checkbox', disabled='')
                    label.custom-control-label(for='customSwitch2') Disabled switch element
            .card-body.upload-table(style="overflow-x:scroll;")  
              table.table.table-striped.upload-table
                thead
                  th(id="sequence") Sequence
                    th(id="assayName") assayName
                    th(id="raw") raw
                    th(id="cpm") cpm
                tbody                
                  tr#lastRow(filename=uploadedFilename) 
                    td.blockquote.text-center(colspan=6) 
                      span(style="background: rgba(0,0,0,0) url(/images/dynamic/loading2.gif) no-repeat center center; background-size:contain") &nbsp&nbsp&nbsp&nbsp
                      | &nbspLoading missing sequences, please wait ...
  #exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLongTitle.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes



