extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          .card
            .card-body
              h4.study.card-title Study&nbsp
                span.badge.badge-secondary#studyTitle
              button.btn.btn-primary.generate-table-form(table="Study",type='button', data-toggle='collapse', data-target='#table-study', aria-expanded='false', aria-controls='table-study')
                | Create Study
              #table-study.collapse
                .card.card-body
                  .form-Study
              button.btn.btn-primary.generate-table-form(table="Person",type='button', data-toggle='collapse', data-target='#table-Person', aria-expanded='false', aria-controls='table-Person')
                | Create Person              
              #table-Person.collapse
                .card.card-body
                  .form-Person
              button.btn.btn-primary.generate-table-form(table="Organism",type='button', data-toggle='collapse', data-target='#table-Organism', aria-expanded='false', aria-controls='table-Organism')
                | Create Organism              
              #table-Organism.collapse
                .card.card-body
                  .form-Organism
              button.btn.btn-primary.generate-table-form(table="Genome",type='button', data-toggle='collapse', data-target='#table-Genome', aria-expanded='false', aria-controls='table-Genome')
                  | Create Genome              
              #table-Genome.collapse
                .card.card-body
                  .form-Genome
              button.btn.btn-primary.generate-table-form.generate-select-form(table="Study",displayAttr='title',type='button', data-toggle='collapse', data-target='#select-Study', aria-expanded='false', aria-controls='select-Study')
                | Get studies              
              button.btn.btn-primary.generate-table-form.generate-select-form(table="Genome",displayAttr='genome_build',type='button', data-toggle='collapse', data-target='#select-Genome', aria-expanded='false', aria-controls='select-Genome')
                | Get Genome              
              #select-Genome.collapse
                .card.card-body
                  .select-Genome
                  .form-Genome

      .row
        .col-lg-12
          .card.upload 
            .card-body
              h5.card-title Targets file
              .row
                .form-group.col-lg-2
                  label.sr-only(for="type-of-targets") Upload file
                  select.custom-select(type="file",id="targets-type",name="targets-type")
                    option(selected) Select target type
                    option(value="1") psRNAtarget
                    option(value="2") Cleaveland
                    option(value="3") pareSNIP 
                .form-group
                  label.sr-only(for="upload-files-upload") Upload file
                  input(hidden,type="file",id="upload-files-upload",placeholder="tsv file",required="",autofocus="",autocomplete="off",name="uploads[]", accept="mime/*,.tsv")
                .col-lg-8
                  .progress(style="position:relative;bottom:-12px;")
                    .progress-bar(role="progressbar",aria-valuenow="0",aria-valuemin="0",aria-valuemax="100")
                .col-lg-2
                  button.btn.btn-primary.upload-targets(type="button") Upload targets  
            .card-footer
              .row
                .form-group.col-lg-12
                  label(for="file") Uploaded file: 
                  input.col-lg-10.col-md-8.col-sm-4(type="text",id="file",placeholder="no file",required="",name="file",readonly)
      .row.preview-header.d-none
        .col-lg-12.preview-header
          .card
            .card-header
              form(action="/de/targets/columnAssociation",method="post")
                label(for="line-selector") select line for header: &nbsp
                input#filename(name="filename",type="hidden")
                input#hash(name="hash",type="hidden")
                input#header(name="header",type="hidden")
                input#template(name="header",type="hidden")
                input#studyId(name="studyId",type="hidden")  
                input.col-lg-1.col-md-2#line-selector(name="lineNumber",type="number",increment=1,min=0,value="0",style="width:70px")
                input.col-lg-2.btn.btn-primary.select-header(type="submit",value="use default header") 
            .card-body(style="overflow-x:scroll;")