extends ../layout

block content
  script(id="database",src="/javascripts/de.js",defer)
  .card-block
    .container-fluid
      .row  
        .col-lg-12
          table.table
            thead
              each colHeader in header
                th=colHeader
            tbody
              each row in body.slice(0,20000)
                tr(id=row[0])
                  each cell, index in row
                    td(col=header[index])=cell  
